[submodule ".tmux"]
	path = .tmux
	url = git@github.com:gpakosz/.tmux.git
	branch = master
[submodule "dotbot"]
	path = dotbot
	url = git@github.com:anishathalye/dotbot.git
	branch = master
[submodule "fzf"]
	path = fzf
	url = git@github.com:junegunn/fzf.git
	branch = master
